head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title="GeMS Pipeline Optimization For Geraghty Lab"
  meta(name="description" content="Description of GeMS project for HDC")
  meta(name="author" content="Dan Tenenbaum")
  link(rel="stylesheet", href="css/main.css")
